global
    maxconn 1000

defaults
    log global
    mode tcp
    retries 2
    timeout connect 5s
    timeout client 30m
    timeout server 30m
    timeout check 5s

listen stats
    mode http
    bind *:7000
    stats enable
    stats uri /

listen postgres_primary
    bind *:5000
    mode tcp
    option httpchk OPTIONS /primary
    http-check expect status 200
    default-server inter 3s fall 3 rise 2 on-marked-down shutdown-sessions

    server pg1 pg1:5432 check port 8008
    server pg2 pg2:5432 check port 8008
    server pg3 pg3:5432 check port 8008

listen postgres_replicas
    bind *:5001
    mode tcp
    balance roundrobin
    option httpchk OPTIONS /replica
    http-check expect status 200
    default-server inter 3s fall 3 rise 2 on-marked-down shutdown-sessions

    server pg1 pg1:5432 check port 8008
    server pg2 pg2:5432 check port 8008
    server pg3 pg3:5432 check port 8008
